<div class="d-flex justify-content-between align-items-center">
    <h1>My Timeline</h1>

<% if Current.user.present? %>
        <%= link_to "Following", new_tweet_path, class: "btn btn-primary" %>
    <% end %>
</div>

<%= render partial: 'main/tweet', collection: @alltweets %>

<h1> Following </h1>

<%= render partial: 'following', collection: @allusers %>
